<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b> Homework Assignments in ENGI E1006: </b></p>
    <dl>
        <dt>Homework 1A </dt>
        <dd> Introduction on Binary Numbers and how they are used in Python and using Pseudocode.</dd>
        <dt>Homework 1B </dt>
        <dd> Creation of a first mini program using functions and performing operations on lists.</dd>
        <dt>Homework 2A </dt>
        <dd> Different types of Searches and understanding which is better by their time complexity</dd>
        <dt>Homework 2B </dt>
        <dd> Creation of a simulation program of projectile motion by implementing functions and 
        start of the machine learning project: To predict whether a given tumor is benign or malignant with 90%+ accuracy, 
        as well as a collection of utilities for parsing and visualizing a dataset measured from the cells in human breast cancer tissue.</dd>
        <dt>Homework 3A </dt>
        <dd> Introduction to sets ans how they operations can be prformed on them and 
        using recurssion to implement functions  </dd>
        <dt>Homework 3B </dt>
        <dd>Creation of a percolation module and implemetation of utility functions in the machine learning project </dd>
        <dt>Homework 4 </dt>
        <dd> Writing a program to model a class(students, teacher and grades)
        based on object oriented programming  </dd>
        <dt>Midterm Assignment </dt>
        <dd> Writing functions to perform specific edits on pictures by changing the RGB value</dd>
        <dt>Homework 5 </dt>
        <dd> Completion of the machine learning project by implementing the use of the panda, seaborn and scikit-learn libraries</dd>
        <dt>Final Project </dt>
        <dd>Creation of a personalised webpage </dd>
    
    
    <p><b> Favourite Assignment: </b></p>
    <p> Midterm Assignment: Since no skeleton code was provided (which made it a lot harder), 
    I could create my own functions and variables and use any kind of methods to implement the functions.
    I liked writing functions to edit pictures as it is a great application for what I have learned in the class
    and definitly somethign I would use python for in the future, since I do not plan on majoring in anything 
    related to computer science.</p>
    
    
    
    </body>
</html>

