<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b> Classes Taken: </b></p>
    <ol>
        <li>APMA E2000: Multivariable Calculus for Engineers and Applied Scientists</li>
        <li>CHEM UN1404: General Chemistry II</li>
        <li>ENGI E1006: Introduction to Computing for Engineers and Applied Scientists</li>
        <li>ENGL CC1010: University Writing: Readings in Data and Society</li>
        <li>PHYS UN1402: Introduction to Electricity, Magnetism and Optics</li>
    </ol>
    
    <p><b> Favourite Class: </b></p>
    <p>Univeristy Writing- Even though it was the most time consuming class, it allowed for a lot
    of reading. This reading helped me learn a lot of new and interesting facts about how technology
    affects our society, mainly from a philosophical lens. This class helped develop my writing skills 
    in addition to deepening my knowledge about things that interest me. </p>
    
    
    
    </body>
</html>

