<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Name: Khushi Kabra</p>
    <img src="myself.jpg" alt="Picture of Myself" width="300" height="350">
    <p>Current Grade: Freshmen in SEAS</p>
    <p>Intended Major: Chemical Engineering</p>
    <li><a href="http://127.0.0.1:5000/assignments">Assignments Page</a></li>
    <li><a href="http://127.0.0.1:5000/classes">Classes Page</a></li>
    <li><a href="https://www.netflix.com">Favourite Website: Netflix</a></li>
    </body>
</html>



